* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --blue: #050924;
    --white: #fff;
}

img {
    width: 100%;
}

body {
    color: var(--white);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    text-align: center;
    justify-content: center;    
    padding: 1rem 5rem;
}

.sticky{
    position: fixed;
    overflow-x: auto;
    overflow-y: auto;
    background-color: var(--blue);
    top: 0%;
    right: 0.3%;
    z-index: 100;
    width: 100%;
    box-shadow: 0 .5rem 1.5rem rgba(0, 51, 99, 0.527);
}

.nav-menu ul li {
    display: inline-block;
    padding: 8px 1.5rem;
    position: relative;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Italiana', sans-serif;
}

.section-title.active,
.section-title:hover {
    background: var(--white);
    padding: 0.5rem 0.5rem;
    color: var(--blue);
    border-radius: 30px;
    transition: all .2s linear;
}

.entradas {
    margin-top: -100px;
}

.entradas .box-container .box {
    margin-bottom: 1rem;
}

.entradas.dishes h3:first-child{
    font-family: 'Italiana',sans-serif;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 960px) {
    .box {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media only screen and (max-width: 700px) {
    .box {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 560px) {
    .box {
        grid-template-columns: 100%;
    }
}