* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #fff;
}


.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 9, 30, 0.7)), url(../img/banner_1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 110px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-family: 'Italiana', serif;
    font-size: 62px;
    letter-spacing: 5px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    letter-spacing: 5px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.hero-btn:hover {
    border: 1px solid #050924;
    background: #050924;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media (max-width: 952px) {
    .text-box h1 {
        font-size: 50px;
    }

    .text-box p {
        font-size: 17px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links ul li a {
        font-size: 20px;
    }

    .nav-links {
        position: absolute;
        background: #050924;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 32px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .hero-btn {
        font-size: 17px;
        padding: 10px 16px;
    }
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 28px;
    }

    .text-box p {
        font-size: 14px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #050924;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    .hero-btn {
        font-size: 14px;
        padding: 10px 16px;
    }
}

/* Promociones */

.promo {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Italiana', serif;
    letter-spacing: 5px;
}

p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    order: 0;
}

.promo-col {
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}


.promo-col img {
    height: 90%;
    width: 100%;
    display: block;
    transition: 0.5s;
}

.promo-col img:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 952px) {
    .row {
        flex-direction: column;
    }

    .promo-col img {
        margin-left: 0px;
        margin-right: 15px;
        height: 33vh;
    }

    p {
        font-size: 17px;
    }
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .promo-col img {
        margin-left: 0px;
        margin-right: 15px;
    }

    h1 {
        font-size: 26px;
    }

    p {
        font-size: 15px;
    }
}

/* Locales */

.locales {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.locales-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.locales-col img {
    width: 100%;
    height: 90%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(0.7, 0.8, 0.9, 0.6);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
    font-size: 26px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

@media (max-width: 952px) {
    .layer h3 {
        font-size: 28px;
    }

    .locales-col img {
        height: 30vh;
    }
}

@media (max-width: 700px) {
    .layer h3 {
        font-size: 23px;
    }
}

/* Opiniones */

.opinion {
    width: 80%;
    margin: auto;
    margin-top: -1%;
    padding-top: 100px;
    text-align: center;
}

.opinion-col {
    flex-basis: 42%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.opinion-col p {
    color: #050924;
    font-weight: 400;
    padding: 0;
    font-size: 16px;
}

.opinion-col h3 {
    width: 100%;
    font-weight: 500;
    font-family: 'Italiana', serif;
    letter-spacing: 5px;
    margin-top: 15px;
    text-align: left;
    color: #050924;
    font-weight: 900;
    font-size: 23px;
    letter-spacing: 5px;
}

.opinion-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.opinion-col .fa {
    color: #050924;
}

@media (max-width: 700px) {

    .opinion-col {
        padding: -10%;
    }

    .opinion-col img {
        margin-left: 0px;
        margin-right: 15px;
    }

    .opinion-col p {
        font-size: 14px;
    }

    .opinion-col h3 {
        font-size: 17px;
    }

    .opinion-col .fa {
        font-size: 13px;
    }
}

/* Footer */

.footer {
    text-align: center;
    padding: 30px 0;
}

.footer h3,
.footer a,
.footer p,
.footer h4,
.footer small {
    font-family: 'Italiana', serif;
    letter-spacing: 5px;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: left;
}

.section {
    display: inline-block;
    margin: auto;
    text-align: center;
}

.head-section {
    display: block;
    margin: auto;
    text-align: center;
}

.footer h3 {
    font-size: 30px;
    margin-bottom: 16px;
    margin-top: 20px;
    font-weight: 600;
}

.footer h4 {
    font-size: 26px;
    margin-bottom: 16px;
    margin-top: 20px;
    font-weight: 600;
}

.footer-content a {
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
}

.footer small {
    font-size: 13px;
}

.footer p {
    font-size: 19px;
}

.footer-content a::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.footer-content a:hover::after {
    width: 100%;
}

.footer .fa-brands{
    font-size: 22px;
}

@media (max-width: 700px) {
    .footer h3{
        font-size: 20px;
    }

    .footer p {
        font-size: 15px;
    }

    .footer a {
        font-size: 14px;
    }

    .footer small {
        font-size: 10px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer h4{
        font-size: 17px;
    }

    .footer .fa-brands{
        font-size: 17px;
    }
}

/* Nosotros */
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(4, 9, 30, 0.7)), url(../img/banner_2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 100px;
    font-size: 53px;
}

.nosotros {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.nosotros-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.nosotros-col img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.nosotros-col h1 {
    font-family: 'Italiana', serif;
    font-size: 30px;
    padding-top: 0;
}

.nosotros-col p {
    font-size: 13px;
    letter-spacing: 3px;
    line-height: 30px;
    padding: 15px 0 25px;
}

.nosotros-col a {
    font-size: 18px;
    letter-spacing: 6px;
}

.nosotros-col-center {
    padding: 30px 2px;
}

.nosotros-col-center h1 {
    font-family: 'Italiana', serif;
    font-size: 30px;
    padding-top: 0px;
    margin-top: -40px;
}

.nosotros-col-center ul {
    display: flex;
    padding: 30px 2px;
    position: static;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nosotros-col-center ul li {
    font-size: 15px;
    letter-spacing: 5px;
    line-height: 30px;
    padding: 15px 0 25px;
    flex: auto;
    margin: 0 100px;
    display: inline-block;
    text-align: center;
    font-weight: 300;
    flex-basis: 25%;
}

.hero-btn.white-btn {
    font-size: 13px;
    font-weight: 300;
}

.white-btn:hover {
    border: 1px solid #fff;
    background: #fff;
    transition: 1s;
    color: #050924;
    font-weight: 450;
}

.nosotros-col-center ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nosotros-col-center ul li:hover::after {
    width: 60%;
}

@media (max-width: 1366px) and (min-width: 1000px) {
    .sub-header {
        height: 60vh;
    }

    .sub-header h1 {
        margin-top: 1%;
    }
}

@media (max-width: 952px) {
    .nosotros-col h1 {
        font-size: 40px;
    }

    .nosotros-col p {
        font-size: 17px;
    }

    .nosotros img {
        height: 35vh;
    }

    .hero-btn.white-btn {
        font-size: 17px;
    }

    .nosotros-col-center h1 {
        font-size: 40px;
    }

    .nosotros-col-center ul li {
        font-size: 17px;
    }
}

@media (max-width: 700px) {

    .sub-header h1 {
        font-size: 35px;
        margin-top: 15%;
    }

    .nosotros-col h1 {
        font-size: 30px;
    }

    .nosotros img {
        width: 100%;
    }

    .hero-btn.white-btn {
        font-size: 15px;
    }

    .nosotros-col-center h1 {
        font-size: 26px;
    }

    .nosotros-col p {
        font-size: 15px;
    }

    .nosotros-col-center ul li {
        font-size: 15px;
    }
}

/* Nuestro Equipo */

.team {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.team-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.team-col img {
    height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.team-col h1 {
    font-family: 'Italiana', serif;
    font-size: 30px;
    padding-top: 0;
}

.team-col p {
    font-size: 13px;
    letter-spacing: 3px;
    line-height: 30px;
    padding: 15px 0 25px;
}

@media (max-width: 952px) {
    .one {
        order: 1;
    }

    .two {
        order: 2;
    }

    .team-col h1 {
        font-size: 40px;
    }

    .team-col p {
        font-size: 17px;
    }
}

@media (max-width: 700px) {
    .one {
        order: 1;
    }

    .two {
        order: 2;
    }

    .team-col h1 {
        font-size: 26px;
    }

    .team-col p {
        font-size: 15px;
    }
}

/* Login */
.h-login {
    height: 25vh;
}

.login {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.login h3 {
    font-family: 'Italiana', serif;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 2%;
}

.login p{
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 1%;
}

.login a {
    text-underline-offset: 5px;
}

.login-input {
    display: block;
    padding: 1rem 1.2rem;
    margin-bottom: 4%;
    margin-top: 5%;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #050924;
    font-weight: 300;
    font-size: 15px;
}

.login input[type=submit] {
    margin-top: 1%;
}

.login span{
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 1%;
    font-weight: normal;
}

@media (max-width: 952px) {
    .login-input {
        width: 100%;
        padding: 1rem 0.6rem;
        font-size: 17px;
        font-weight: 400;
        margin-left: -2%;
    }

    .login input[type=submit] {
        margin-top: 1%;
        margin-left: 1%;
    }

    .login p {
        font-size: 17px;
    }

    .login h3 {
        margin-left: 2%;
        font-size: 35px;
    }
}

@media (max-width: 700px) {
    .login-input {
        width: 100%;
        padding: 0.5rem 0.6rem;
        font-size: 13px;
        font-weight: 400;
        margin-left: -2%;
    }

    .login input[type=submit] {
        margin-top: 1%;
        margin-left: 3%;
    }

    .login p {
        font-size: 15px;
    }

    .login h3 {
        margin-left: 2%;
        font-size: 28px;
    }
}

/* Boton Flotante Chatbot */
.chatbot {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 60px;
    right: 60px;
    background-image: url(../img/HuasiLogo.png);
    background-size: contain;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.chatbot:hover {
    background-image: url(../img/HuasiLogo2.png);
    transition: 1s;
}